.cartBtn {
    position: absolute;
    top: 15px;
    right: 100px;
    padding: 0;
}

a {
    cursor: pointer;
}

.navbar {
    z-index: 15;
}

.cartDeleteBtn {
    cursor: pointer;
}

@media (max-width: 575px) {
    .cartBtn {
    position: absolute;
    top: 15px;
    right: 55px;
}
}