<div class="shadow-lg">
    <img [src]="product.image" style="width: 100%;">
    <div class="d-flex align-items-start justify-content-between p-2" style="width: 100%">
        <div>
            <small class="text-secondary" style="font-size: 13px; font-weight: bold;">{{product.productName}}</small>
            <small class="d-block">{{product.price | currency}}</small>
        </div>
        <div class="text-end">
            <small class="text-danger" style="font-size: 12px;">
                <i [class]="product.rating > 0 ? 'fa fa-star' :'fa fa-star-o'"></i>
                <i [class]="product.rating > 1 ? 'fa fa-star' :'fa fa-star-o'"></i>
                <i [class]="product.rating > 2 ? 'fa fa-star' :'fa fa-star-o'"></i>
                <i [class]="product.rating > 3 ? 'fa fa-star' :'fa fa-star-o'"></i>
                <i [class]="product.rating > 4 ? 'fa fa-star' :'fa fa-star-o'"></i>
            </small>
            @if (product.availableQty == 0) {
            <button class="btn btn-secondary btn-sm d-block" disabled>Out of Stock</button>
            }@else {
            <button class="btn btn-primary btn-sm d-block" (click)="addToCart(product)">
                Add To Cart
            </button>
            }
        </div>
    </div>

    <div class="availableQtyDiv" matTooltip="Available Quantity"
        [class]="product.availableQty == 0 ? 'bg-danger rounded-circle d-flex align-items-center justify-content-center shadow-1' : 'bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1'">
        <span>{{product.availableQty}}</span>
    </div>



</div>